# osx noise
.DS_Store
profile

# editors
.*.swp
.*.swo

# Ignore the site build directory
_site
.sass-cache/
.idea/

node_modules

.bundle/
bundler_gems/
*.cache
_site/assets/css/main.css
_sass/layout/_hero.scss
