{% include testimonial-slider.html %}
<footer class="footer is-relative">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <a class="level-item" href="mailto:mclaneconstruction@gmail.com">McLaneConstruction@gmail.com</a>
        <span class="level-item">|</span>
        <a class="level-item" href="tel:406-579-7711">406-579-7711</a>
      </div>

      <div class="level-right"><a class="level-item" href="/services/">Services</a><a class="level-item" href="/why-mclane/">Why M<sup>c</sup>Lane</a><a class="level-item" href="/about-us/">About Us</a><a class="level-item" href="/contact-us/">Contact Us</a></div>
    </div>
    <hr>
    <div class="columns">
      <div class="column has-text-centered">
        <p>© 2020 M<sup>c</sup>Lane Construction. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
