{% include testimonial-slider.html %}
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">

      </div>
      <div class="column is-4 has-text-centered is-hidden-tablet"><a class="title is-4" href="#" data-config-id="brand">McLane Construction</a></div>
      <div class="column is-4">
        <div class="level" data-config-id="nav1"><a class="level-item" href="/roofing-services/">Roofing Services</a><a class="level-item" href="/our-work/">Our Work</a></div>
      </div>
      <div class="column is-4 has-text-centered is-hidden-mobile"><a class="title is-4" href="#" data-config-id="brand">McLane Construction</a></div>
      <div class="column is-4 has-text-right">
        <div class="level" data-config-id="nav2"><a class="level-item" href="/faq/">FAQs</a><a class="level-item" href="/our-difference/">Our Difference</a></div>
      </div>
    </div>
    <p class="subtitle has-text-centered is-6" data-config-id="copyright">© 2020 McLane Construction. All right reserved.</p>
  </div>
</footer>
