{% include testimonial-slider.html %}
<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item"><a class="title is-5" href="tel:406-579-7711">Call Us (406) 579-7711</a></div>
      </div>
      <div class="level-right"><a class="level-item has-text-grey-dark" href="/services/">Services</a><a class="level-item has-text-grey-dark" href="/our-difference/">Our Difference</a><a class="level-item has-text-grey-dark" href="/about-us/">About Us</a><a class="level-item has-text-grey-dark" href="/contact-us/">Contact Us</a></div>
    </div>
    <hr>
    <div class="columns">
      <div class="column has-text-centered">
        <p class="subtitle is-6">© 2020 McLane Construction. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
