<nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <div class="navbar-item is-hidden-desktop">
      <a href="/">
        {% include logo.html %}
      </a>
    </div>
    <div class="navbar-burger burger" data-target="my-navbar-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="my-navbar-menu" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item">
        <a href="/services/" class="navbar-item{% if page.url == '/services/' %} is-active{% endif %}">
          <strong class="is-uppercase">Services</strong>
        </a>
      </div>
      <div class="navbar-item">
        <a href="/our-difference/" class="navbar-item{% if page.url == '/our-difference/' %} is-active{% endif %}">
          <strong class="is-uppercase">Our Difference</strong>
        </a>

      </div>
    </div>
    <div class="my-navbar-center">
      <div class="navbar-item is-hidden-touch">
        <a href="/">
          {% include logo.html %}
        </a>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item"> <a href="/about-us/" class="navbar-item{% if page.url == '/about-us/' %} is-active{% endif %}">
          <strong class="is-uppercase">About Us</strong>
        </a>
      </div>
      <div class="navbar-item"> <a href="/contact-us/" class="navbar-item{% if page.url == '/contact-us/' %} is-active{% endif %}">
          <strong class="is-uppercase">Contact Us</strong>
        </a>
      </div>
    </div>
  </div>
</nav>
