<section class="section is-small">
  <div class="image-gallery container">
  <!-- <h2 class="title is-3 is-size-4-mobile has-text-white has-text-centered is-family-sans-serif"><em>Crafted Eve to Peak.</em></h2> -->
    <div class="image-slider">
      {% for image in site.data.homepage_image_slider %}
      <div class="slide">
        <img class="image is-fullwidth" src="{{ image.source }}" />
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
  var slider = tns({
    arrowKeys: true,
    container: '.image-slider',
    items: 1,
    autoplay: true,
    autoplayTimeout: 4000,
    autoplayHoverPause: false,
    mode: 'gallery',
    controls: false,
    navPosition: 'bottom',
    speed: 500,
    nav: true,
    autoplayButtonOutput: false
  });
</script>
