<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Request a Quote</p>
      <button class="delete" id="close-request-modal" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <!-- Content ... -->

      <form action="http://postmail.invotes.com/send"
      method="post" id="email_form">

      <div class="field">
        <label class="label">First Name</label>
        <div class="control">
          <input class="input" type="text" name="first-name" placeholder="First Name" />
        </div>
      </div>

      <div class="field">
        <label class="label">Message</label>
        <div class="control">
          <textarea class="input" name="text" placeholder="Message"></textarea>
        </div>
      </div>

      <input type="hidden" name="access_token" value="b374aw4l0gx18vr9tpbtwvp4 " />
      <input type="hidden" name="success_url" value="." />
      <input type="hidden" name="error_url" value=".?err=1" />

      <div class="control">
        <input class="button is-success" id="submit_form" type="submit" value="Send" />
      </div>
      </form>

    </section>
  </div>
</div>
<script>
document.querySelector('.show-quote-modal').addEventListener('click', function(event) {
  event.preventDefault();
  var modal = document.querySelector('.modal');  // assuming you have only 1
  var html = document.querySelector('html');
  modal.classList.add('is-active');
  html.classList.add('is-clipped');

  modal.querySelector('.modal-background').addEventListener('click', function(e) {
    e.preventDefault();
    modal.classList.remove('is-active');
    html.classList.remove('is-clipped');
  });
  modal.querySelector('#close-request-modal').addEventListener('click', function(e) {
    e.preventDefault();
    modal.classList.remove('is-active');
    html.classList.remove('is-clipped');
  });

});
//show modal in hero
{% if page.show_request_modal_hero == true %}
document.querySelector('.show-quote-modal-hero').addEventListener('click', function(event) {
  event.preventDefault();
  var modal = document.querySelector('.modal');  // assuming you have only 1
  var html = document.querySelector('html');
  modal.classList.add('is-active');
  html.classList.add('is-clipped');

  modal.querySelector('.modal-background').addEventListener('click', function(e) {
    e.preventDefault();
    modal.classList.remove('is-active');
    html.classList.remove('is-clipped');
  });
  modal.querySelector('#close-request-modal').addEventListener('click', function(e) {
    e.preventDefault();
    modal.classList.remove('is-active');
    html.classList.remove('is-clipped');
  });

});
{% endif %}
</script>
