<section class="section">
  <div class="text container has-text-centered">
    <h2 class="title">What sets McLane Construction apart?</h2>
    <div class="columns slider">
      {% for testimonial in site.data.testimonials %}
      <div class="column">
        <p class="block is-italic has-text-weight-light is-size-5">{{ testimonial.quote }}</p>
        <h5 class="title is-5">&mdash;{{ testimonial.source }}</h5>
        <p class="subtitle">{{ testimonial.title }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
<script>
  var slider = tns({
    arrowKeys: true,
    container: '.slider',
    items: 1,
    autoplay: false,
    mode: 'carousel',
    controls: false,
    navPosition: 'bottom',
    nav: true,
    autoplayButtonOutput: false,
    speed: 500
  });
</script>
