<section class="section is-small pt-0">
  <div class="container">
    <div class="columns is-multiline">
      {% for item in site.values %}
      <div class="column is-4">
        <div class="card services modal-button has-cursor" data-target="{{ item.title | remove: " " | remove: "&" }}">
          <div class="card-image">
            <figure class="image is-4by3">
              <img src="{{ item.modal_hero_image }}" alt="{{ item.title }}">
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
               <h3 class="card-header-title is-centered has-text-white">{{ item.title }}</h3>
            </div>
          </div>
          <footer class="card-footer">

          </footer>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
