---
layout: default
title: Services
description: McLane Construction services
hero_background_image: "/assets/images/services/services-hero.jpg"
hero_background_image_position_y: 50
hero_heading: Services
intro_text: |-
  No job is too big or too small.  We are happy to come out and fix a leak, be it a quick caulk job or a deep dive into the framing.  The old backyard shed, on up to the glamorous lodge or clubhouse, we have the crew and tools to be efficient and effective.  Remodel or new construction,  residential or commercials, we do it all!

  <br><br>Across all dicaplines, we use manufacturer's specifications and local building codes as minimum standards.  Montana is tough on buildings, and we have learned tips and tricks over the years to ensure our work can withstand a harsh and varied climate.

---
<section class="services hero is-medium dimmed has-z-index-1" style="background-image: url({{ page.hero_background_image }}); background-position-y: {{ page.hero_background_image_position_y }}%;">
  <div class="hero-body">
    <div class="container has-text-centered has-z-index-10">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-1 is-size-4-mobile is-spaced has-text-white-bis has-text-shadow">
          {{ page.hero_heading }}
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="section is-small">
  <div class="text container">
  <p class="is-size-5 is-size-6-mobile">
    {{ page.intro_text }}
  </p>
</div>
</section>
{% include services.html %}
{% include services-modal.html %}