---
layout: default
title: Why McLane Construction
description: McLane Construction is a family owned company located in Bozeman
hero_background_image: "/assets/images/values/why-mclane-hero.jpg"
hero_background_image_position_y: 30
hero_heading: Why M<sup>c</sup>Lane Construction?
intro_text: 'McLane Construction is a family owned company located in Bozeman.  We
  have been around since 2007 and aren’t going anywhere.  Our company is licensed
  and insured, and our crew are all hired employees, so you can have confidence that
  you and our guys are protected.<br><br>We install quality work that gets  the job
  done, lasts a long time, and looks good while it’s at it.  Learn why our work performs
  so well:'

---
<section class="why-mclane hero is-medium dimmed has-z-index-1" style="background-image: url({{ page.hero_background_image }}); background-position-y: {{ page.hero_background_image_position_y }}%;">
  <div class="hero-body">
    <div class="container has-text-centered has-z-index-10">
      <div class="column is-8 is-offset-2">
        <h1 class="title is-1 is-size-4-mobile is-spaced has-text-white-bis has-text-shadow">
          {{ page.hero_heading }}
        </h1>
      </div>
    </div>
  </div>
</section>
<section class="section is-small">
  <div class="text container">
        <p class="is-size-5 is-size-6-mobile">
          {{ page.intro_text }}
        </p>
  </div>
</section>
{% include values.html %}
{% include values-modal.html %}