$container-offset: 2 * $gap !default;

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;

  &.is-fluid {
    max-width: none;
    padding-left: $gap;
    padding-right: $gap;
    width: 100%;
  }

  &.text {
    max-width: 980px;
    margin: 0 auto;
  }

  &.image-gallery {
    img {
      -webkit-box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
      box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    }
  }

  @include desktop {
    max-width: $desktop - $container-offset;
  }


  @include until-widescreen {
    &.is-widescreen {
      max-width: $widescreen - $container-offset;
    }
  }


  @include until-fullhd {
    &.is-fullhd {
      max-width: $fullhd - $container-offset;
    }
  }


  @include widescreen {
    max-width: $widescreen - $container-offset;
  }


  @include fullhd {
    max-width: $fullhd - $container-offset;
  }
}
