$modal-z: 40 !default;

$modal-background-background-color: bulmaRgba($scheme-invert, 0.86) !default;

$modal-content-width: 960px !default;
$modal-content-margin-mobile: 0 !default;
$modal-content-spacing-mobile: 160px !default;
$modal-content-spacing-tablet: 40px !default;

$modal-close-dimensions: 40px !default;
$modal-close-right: 20px !default;
$modal-close-top: 20px !default;

$modal-card-spacing: 40px !default;

$modal-card-head-background-color: $background !default;
$modal-card-head-border-bottom: 1px solid rgba(129, 126, 91, 0.4) !default;
$modal-card-head-padding: 20px !default;
$modal-card-head-radius: $radius-large !default;

$modal-card-title-color: $text-strong !default;
$modal-card-title-line-height: 1 !default;
$modal-card-title-size: $size-4 !default;

$modal-card-foot-radius: $radius-large !default;
$modal-card-foot-border-top: 1px solid rgba(129, 126, 91, 0.4) !default;

$modal-card-body-background-color: $scheme-main !default;
$modal-card-body-padding: 0px !default;

.modal {
  @extend %overlay;

  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: $modal-z;

  // Modifiers
  &.is-active {
    display: flex;
  }
}

.modal-background {
  @extend %overlay;

  background-color: $modal-background-background-color;
}
.modal-hero {
  width: 100%;
  height: 16rem;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  padding-bottom: .6rem;
  &:after {
    content: '';
    position: relative;
    z-index: 2;
    top: 2.8rem;
    background: linear-gradient(to top, rgba(39, 45, 36, .66), rgba(0, 0, 0, 0));
    width: 100%;
    height: 6.6rem;
    z-index: 2;
  }
  .title {
    position: relative;
    z-index: 3;
  }
}
.modal-content-wrap {
  margin-top: .5rem;
  .column {
    padding-bottom: 0;
  }
}
.modal-copy {
  padding: 1.2rem 2.8rem 1rem 1rem;
}
.modal-content,
.modal-card {
  margin: 0 $modal-content-margin-mobile;
  max-height: calc(100vh - #{$modal-content-spacing-mobile});
  overflow: auto;
  position: relative;
  width: 100%;

  // Responsiveness
  @include tablet {
    margin: 0 auto;
    max-height: calc(100vh - #{$modal-content-spacing-tablet});
    width: $modal-content-width;
  }
}

.modal-close {
  @extend %delete;
  max-width: none;
  max-height: none;
  background-color: #769A75;
  height: $modal-close-dimensions;
  position: fixed;
  right: $modal-close-right;
  top: $modal-close-top;
  width: $modal-close-dimensions;
  &:hover,
  &:focus {
    background-color: #427f32;
  }
}

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - #{$modal-card-spacing});
  overflow: hidden;
  -ms-overflow-y: visible;
}

.modal-card-head,
.modal-card-foot {
  align-items: center;
  background-color: #effeed;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: $modal-card-head-padding;
  position: relative;
  &.is-spaced-between {
    justify-content: space-between;
  }
}

.modal-card-head {
  border-bottom: $modal-card-head-border-bottom;
  border-top-left-radius: $modal-card-head-radius;
  border-top-right-radius: $modal-card-head-radius;
}

.modal-card-title {
  color: $modal-card-title-color;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: $modal-card-title-size;
  line-height: $modal-card-title-line-height;
}

.modal-card-foot {
  border-bottom-left-radius: $modal-card-foot-radius;
  border-bottom-right-radius: $modal-card-foot-radius;
  border-top: $modal-card-foot-border-top;

  .button {
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

.modal-card-body {
  @include overflow-touch;

  background-color: #effeed;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-x: hidden;
  padding: $modal-card-body-padding;
}
