
// Modal minimal setup
$transition-duration: .3s;
$modal-perspective: 1300px;
$modal-bg-color: rgba($black,.86);

.modal {
    display: flex;
    visibility: hidden;

    // Common fx modal background
    .modal-background {
        transition: all $transition-duration;
        opacity: 0;
    }

    &.is-active {
        visibility: visible;
        .modal-background {
            opacity: 1;
        }
    }
    &.modal-two-thirds-screen {
      .modal-content {
          max-height: 70vh;
          width: 100%;
          height: 100%;
      }
    }
    &.modal-full-screen {
        .modal-background {
            background-color: #fff;
        }
        .modal-content {
            width: 100%;
            height: 100%;
            max-height: 100vh;
            margin: 0;
            background-color: #fff;
        }

        // .modal-close {
        //     &::before,
        //     &::after {
        //         background-color: rgba($black, .86);
        //     }
        // }
    }

    // Fx modal content
    // .modal-fx-fadeInScale
    &.modal-fx {

        &-fadeInScale {
            .modal-content {
                transform: scale(0.7);
                opacity: 0;
                transition: all $transition-duration;
            }

            &.is-active {
                .modal-content {
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }

    }

    .modal-content {
        // size
        &.is-huge {
            width: 100%;
            margin: 0px 20px;
            max-height: calc(100vh - 40px);
        }
        @include from($tablet) {
            &.is-huge {
                width: 100%;
                margin: 0px 20px;
                max-height: calc(100vh - 40px);
            }
        }
        &.is-tiny {
            max-width: 400px;
        }

        // type
        &.is-image {
            text-align: center;

            &.is-huge {
                width:auto;
            }

            img {
                max-height: calc(100vh - 50px);
            }
        }
    }

    // Positioning, center is default
    // .modal-pos-top
    &.modal-pos {
        &-top {
            align-items: flex-start;
            .modal-content {
                margin-top: 1rem;
            }
        }
        &-bottom {
            align-items: flex-end;
            .modal-content {
                margin-bottom: 1rem;
            }
        }
    }

    .modal-background {
        background-color: $modal-bg-color;
    }
}
