$footer-background-color: #F6EDD9 !default;
$footer-color: false !default;
$footer-padding: 3rem 1.5rem 7rem !default;

.footer {
  background-color: $footer-background-color;
  padding: $footer-padding;

  @if $footer-color {
    color: $footer-color;
  }

  sup {
    top: 1px;
  }
}
.mountains {
  position: absolute;
  right: 0;
  width: 100%;
  top: -198px;
  opacity: 0.2;
  @media (min-width: 1800px) {
    right: 7%;
    width: 85%;
  }
  @media (min-width: 1900px) {
    right: 21%;
    width: 55%;
  }
 }
