$footer-background-color: #effeed !default;
$footer-color: #427f32;
$footer-padding: 3rem 1.5rem 7rem !default;

.footer {
  background-color: $footer-background-color;
  padding: $footer-padding;

  @if $footer-color {
    color: $footer-color;
  }
  a,p {
    color: $footer-color;
  }
  sup {
    top: 1px;
  }
}
