$footer-background-color: #F6EDD9 !default;
$footer-color: false !default;
$footer-padding: 3rem 1.5rem 7rem !default;

.footer {
  background-color: $footer-background-color;
  padding: $footer-padding;

  @if $footer-color {
    color: $footer-color;
  }

  sup {
    top: 1px;
  }
}
.footer-hero {
  background-image: url(/assets/images/heros/forest.svg);
  background-size: cover;
  background-position-y: 44%;
  background-position-x: center;
}
