$section-padding: 3rem 1.5rem !default;
$section-padding-small: 2rem 1.5rem !default;
$section-padding-medium: 9rem 1.5rem !default;
$section-padding-large: 18rem 1.5rem !default;

.section {
  padding: $section-padding;
  &.has-no-side-padding {
    padding: 3rem 0;
  }
  &.is-small {
    &.has-no-side-padding {
      padding: 2rem 0;
    }
  }
  &.is-medium {
    &.has-no-side-padding {
      padding: 9rem 0;
    }
  }
  // Responsiveness
  @include desktop {
    // Sizes
    &.is-small {
      padding: $section-padding-small;
    }
    &.is-medium {
      padding: $section-padding-medium;
    }

    &.is-large {
      padding: $section-padding-large;
    }
  }
}

.subsection {
  padding-top: 2rem;
}
